extends ../layouts/default

mixin post(post)
	.well.post(data-ks-editable=editable(user, { list: 'Post', id: post.id }))
		h2: a(href='/blog/post/' + post.slug)= post.title
		p.text-muted 
			if post.author
				| #{post.author.name.first}
			else
				| 匿名作者
			if post.publishedDate
				| 于 #{post._.publishedDate.format('YYYY-MM-D日')} 
			if post.categories && post.categories.length
				| 发布在
				each cat, i in post.categories
					a(href='/blog/' + cat.key)= cat.name
					if i < post.categories.length - 1
						| , 
					else
						|  
			
		if post.image.exists
			img(src=post._.image.fit(160,160)).img
		p!= post.content.brief
		if post.content.extended
			p.read-more: a(href='/blog/post/' + post.slug) 详细内容...

block intro
	br

block content
	.container: .styles_center.row
		if data.categories.length
			.col-sm-4.col-md-3
				.list-group(style='margin-top: 20px;')
					a(href='/blog', class=!data.category ? 'active' : false).list-group-item 全部目录
					each cat in data.categories
						a(href='/blog/' + cat.key + '#postlist', class=data.category && data.category.id == cat.id ? 'active' : false).list-group-item= cat.name
		.col-sm-8.col-md-9#postlist
			if filters.category && !data.category
				h3.text-muted  没有这个分类.
			else
				if data.posts.results.length
					.blog.p-t
						each post in data.posts.results
							+post(post)
					
					if data.posts.totalPages > 1
						ul.pagination
							if data.posts.previous
								li: a(href='?page=' + data.posts.previous): span.glyphicon.ion-ios-arrow-back
							else
								li.disabled: a(href='?page=' + 1): span.glyphicon.ion-ios-arrow-back
							each p, i in data.posts.pages
								li(class=data.posts.currentPage == p ? 'active' : null)
									a(href='?page=' + (p == '...' ? (i ? data.posts.totalPages : 1) : p ))= p
							if data.posts.next
								li: a(href='?page=' + data.posts.next): span.glyphicon.ion-ios-arrow-forward
							else
								li.disabled: a(href='?page=' + data.posts.totalPages): span.glyphicon.glyphicon.ion-ios-arrow-forward
				else
					if data.category
						h3.text-muted #{data.category.name}分类目录中还没有文章发布.
					else
						h3.text-muted 还没有文章发布.
		
