extends ../layouts/default

mixin candidate(cand)
	.post.well.well_person(data-ks-editable=editable(user, { list: 'Candidate', id: cand.id }))
		.col-md-12.online
		.clear-person
			.col-md-2.portrait
				.prolist_img
					a(href='/candidate/' + cand.title.key)
						if cand.image.url
							div(style={background: 'no-repeat center /cover','background-image':'url('+ cand.image.url +')','border-radius':'100px',  width: '100px', height: '100px'}) 
						else
							div(style="background: url('/images/applogo10.jpeg') no-repeat center / cover; border-radius: 100px; width: 100px; height: 100px;")
				h4: a(href='/candidate/cand/' + cand.candid)= cand.name.first
			.col-md-4.name-person-line.vip
				.line-person-left
					div
						p.name-p
							if cand.title
								a(href='/candidate/' + cand.title.key)= cand.title.name
					div
						p.name-p
							if cand.experience
								| 工作经验：
								!= cand.experience
								| 年
						p.name-p
							if cand.age
								| 年龄：
								!= cand.age
							
						p.name-p
							if cand.level
								| 级别：
								!= cand.level
				.line-person-hr
			.col-md-6.right-line
				.line-person-left
					div
						p.name-p
							a(href='/candidate/' + cand.title.key) 毕业院校:
								if cand.school
									!= cand.school
						p.name-p
							if cand.eduction
								| 学历：
								!= cand.eduction
						.name-p
							if cand.period
								| 可到岗时间：
								!= cand.period
			.text-muted
				if cand.skills
					a(class='btn re-btn green1 yuyue' href='/candidate/cand/' + cand.candid) 详细信息...
block content
	.page-header.bg-inverse(style="background: url('/images/bg.jpg') repeat;")
		.container
			.col-sm-3.p-l-lg
				img(src='/images/hr.svg').p-l
	.container: row.styles_center#italent
		if data.titles.length
			.col-sm-4.col-md-3
				h3 目录
				.list-group(style='margin-top: 20px;')
					a(href='/candidate' + '#italent', class=!data.title ? 'active' : false).list-group-item 全部职位
					each cat in data.titles  
						a(href='/candidate/' + cat.key + '#italent', class=data.title && data.title.id == cat.id ? 'active' : false).list-group-item= cat.name
			.col-sm-8.col-md-9
				h3= data.title ? data.title.name : '全部候选人'
				br
				if filters.title && !data.title
					h3.text-muted 无效职位.
				else
					if data.candidates.results.length
						.blog
							each cand in data.candidates.results
								+candidate(cand)
						if data.candidates.totalPages > 1
							ul.pagination
								if data.candidates.previous
									li: a(href='?page=' + data.candidates.previous +'#italent')
										span.glyphicon.glyphicon-chevron-left
								else
									li.disabled: a(href='?page=' + 1): span.glyphicon.glyphicon-chevron-left
								each p, i in data.candidates.pages
									li(class=data.candidates.currentPage == p ? 'active' : null)
										a(href='?page=' + (p == '...' ? (i ? data.candidates.totalPages : 1) : p ) +'#italent')= p
								if data.candidates.next
									li: a(href='?page=' + data.candidates.next +'#italent'): span.glyphicon.glyphicon-chevron-right
								else
									li.disabled: a(href='?page=' + data.candidates.totalPages +'#italent')
					else
						if data.title
							h3.text-muted  暂时没有候选人.
						else
							h3.text-muted 还没有候选人.
		else
			h3.text-muted 还没有候选人.
	section.contactbg
		#contact.container
			.row.p-t-md.p-b-lg
				.row: .col-sm-8.col-md-10.col-md-offset-1
					include ../includes/contact.pug
		
		