extends ../layouts/default

block content
	.container: .row.styles_center
		article
			p: a(href='/blog') &larr; 返回
			hr
			if !data.post
				h2 没有此文章.
			else
				header
					h2= data.post.title
					h5
						if data.post.author
							| #{data.post.author.name.first}
						else
							| 匿名作者
						if data.post.publishedDate
							| 于 #{data.post._.publishedDate.format('YYYY-MM-D日')} 
						if data.post.categories && data.post.categories.length
							| 发布在
							each cat, i in data.post.categories
								a(href='/blog/' + cat.key)= cat.name
								if i < data.post.categories.length - 1
									| , 
								else
									|  
				.post
					if data.post.image.exists
						.image-wrap: img(src=data.post._.image.fit(750,450)).img-responsive
					!= data.post.content.full
