if enquirySubmitted
	h3 非常感谢您给我们联系，我们会第一时间给您回复。
else
	.row
		.col-md-6
			h3 给我们留言
			form(method='post', action='contact')
				input(type='hidden', name='action', value='contact')
				.form-group(class=validationErrors.name ? 'has-error' : null)
					label 姓名
					input(type='text', name='name.full', value=formData['name.full']).form-control
				.form-group(class=validationErrors.email ? 'has-error' : null)
					label 邮箱
					input(type='email', name='email', value=formData.email).form-control
				.form-group(class=validationErrors.enquiryType ? 'has-error' : null)
					label 您想了解些什么?
					select(name='enquiryType').form-control
						option(value='') (请选择)
						each type in enquiryTypes
							option(value=type.value, selected=formData.enquiryType == type.value)= type.label
				.form-group(class=validationErrors.message ? 'has-error' : null)
					label 正文
					textarea(name='message', placeholder='在这里输入正文...' rows=4).form-control= formData.message
				.form-actions
					button(type='submit').btn.btn-success 发送
		.col-md-5.col-md-offset-1
				h3.m-b-md 联系我们
				.styles__heading5___3SiAp.b-b
					| 北京（总部）
				.row
					img(src='images/itsigongzhong.jpg' style='height:120px;width:120px;position:absolute; margin-left:180px;margin-top:80px;')
				.m-b-sm
					| 公司地址:
					br
					| 北京市朝阳区望京广顺南大街嘉美中心1920
					br
					| 联系电话:
					br
					| 010-59974483
					br
					| 微信公众号:
					br
					| itsigongzhong
					br
					| Email:
					br
					| hr@itsi.com.cn
				.styles__heading5___3SiAp.b-b.m-t
					| 天津分公司
				.m-b-sm
					| 公司地址:
					br
					| 天津市南开区华苑产业园区开华路7号5015
					br
					| Email:
					br
					| tj@itsi.com.cn			